<div class="container">
  <!--div class="topo"></!--div-->

  <div class="left">
    <div class="branding">
      <div class="logos">
        <img
          class="logo-rs-talentos"
          src="assets/logo-rs-talentos.png"
          alt="RS Talentos"
        />
        <img
          class="logo-professor"
          src="assets/logo-professor-do-amanha.png"
          alt="Professor do Amanhã"
        />
      </div>
      <div class="students">
        <img src="assets/students.png" alt="Estudantes" />
      </div>
    </div>
  </div>

  <div class="right">
    <img class="logo-estado" src="assets/logo-rs-estado.png" alt="Logo RS" />
    <div class="form">
      <h2>
        <strong>SISTEMA</strong> <span class="verde"> DE</span><br />GESTÃO
        <span class="verde">DE</span> BOLSAS
      </h2>
      <div class="login-box">
        <div class="section">
          <p class="login-title"><span class="azul">Login</span> Bolsista</p>
          <p>
            Para <strong>criar</strong> ou <strong>acessar</strong> sua conta
            Egov:
          </p>
          <br />
          <button class="govbr-button">
            <i class="fas fa-user"></i>Entrar com gov.br
          </button>
        </div>

        <hr />

        <div class="section">
          <p class="login-title">
            <span class="azul">Login</span> Institucional
          </p>
          <input
            type="text"
            placeholder="CPF"
            [(ngModel)]="cpf"
            name="cpf"
            mask="000.000.000-00"
          />
          <input
            type="password"
            placeholder="Senha"
            [(ngModel)]="senha"
            name="senha"
          />
          <button
            (click)="fazerLogin()"
            class="acessar-button"
            [disabled]="loading"
          >
            @if (!loading) {
            <i class="fas fa-user"></i> Acessar } @if (loading) {
            <i class="fas fa-spinner fa-spin"></i> Carregando... }
          </button>
          <p class="esqueci-senha">
            <a (click)="abrirDialogEsqueciSenha()">Esqueci minha senha</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<footer>
  <div class="footer-texto">
    <p class="footer-texto-p1">Secretaria de Inovação, Ciência e Tecnologia</p>
    <p>Av. Borges de Medeiros, 1501 - 18º andar - Bairro Praia de Belas</p>
    <p>Centro Administrativo Fernando Ferrari</p>
    <p>Porto Alegre/RS</p>
  </div>
  <img
    class="logo-estado"
    src="assets/logo-rs-estado-footer.png"
    alt="Logo RS"
  />
</footer>
