.bodyPrincipal {
  background-color: #BFD5D5;
}

.faixaTopo {
    background-color: #24E8BA;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-end; /* alinha tudo à direita */
    padding-right: 16px;
}

.faixaTopoLogos {
    height: 150px;
    display: flex;
    align-items: center;
    padding-right: 16px;
}

.userName {
  padding-right: 3%;
}

.iconeUser mat-icon,
.sair mat-icon {
  cursor: pointer;
  font-size: 24px;
  color: rgb(15, 82, 59);
}

.sair {
  padding-right: 2%;
}

.userName {
  font-weight: bold;
}

.submenu {
  margin-left: 10%;
}

.submenu a.mat-list-item {
  padding-left: 48px;
  font-size: 14px;
  background-color: #f5f5f5;
}

.arrow {
  margin-left: auto;
}

a.mat-list-item {
  cursor: pointer;
}

.logo-estado {
  height: 110px;
  margin-left: 5%;
}

.nomeSistema {
  align-items: center;
  width: 100%;
}

h2 {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 1.8rem;
  font-family: 'Rawline SemiBold', sans-serif;
  color: #015958;
  font-weight: bold;
  line-height: 1.4;
}

h2 .verde {
  color: #679B9B;
  font-weight: normal;
}

.logos {
  display: flex;
  gap: 2.5rem;
}

.logo-rs-talentos {
  height: 100px;
  width: auto;
}

.logo-professor {
  height: 100px;
  width: auto;
}
