<mat-sidenav-container class="sidenav-container">

  <mat-sidenav-content>
    <div class="content">
      <mat-card class="card">
        <mat-card-title>Beneficiários Cadastrados</mat-card-title>
        <mat-card-content>128</mat-card-content>
      </mat-card>

      <mat-card class="card">
        <mat-card-title>Beneficiários Ativos</mat-card-title>
        <mat-card-content>32</mat-card-content>
      </mat-card>

      <mat-card class="card">
        <mat-card-title>Universidades Cadastradas</mat-card-title>
        <mat-card-content>5</mat-card-content>
      </mat-card>

      <mat-card class="card">
        <mat-card-title>Cursos Apoiados</mat-card-title>
        <mat-card-content>5</mat-card-content>
      </mat-card>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
